body{
    margin: 0%;
    background-color: rgb(255, 153, 102);
    align-items: center;
    flex-direction: column;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: rgb(231, 154, 39);
    padding: 0;
    margin: 0;
    height: 120px;
    width: 100%;



}
.hsup{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}
.subh{
    display: flex;
    align-items: center;
    background-color: rgb(197, 126, 72);
    justify-content: space-between;
    width: 100%; 
    padding: 5px; 
    margin: 0; /
  
  
}
.btn {
    font-weight: bold; 
}
.hicons{
    flex-direction: row;
    align-items: center;
    padding: 10px;

}
.user{
    width: 1500px;
}
.alogo{
    width: 120px;
    height: 100px;
    padding: 0; 
    margin: 0; 
    line-height: 0; 
    border: 0;
}

.logo{
    display: block; 
    width: auto; 
    max-height: 80px; 
    margin: 6px; 
    padding: 0;
}
main{
    width: 98%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px auto; 
    padding: 20px;
    max-width: 1650px; 
    background-color: rgb(248, 240, 175);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 0;
    height: 100%;
    flex: 1; 
}
/*--------------------------*/
.cart{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 153, 102);
    width: 90%;
    height: auto;
    padding: 20px;
    
}
.product{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(246, 192, 166);
    margin: 5px;
    margin-bottom: 15px;
    
}
.cartTitle{
    background-color: rgb(242, 216, 204);
    padding: 15px;

}
.imgProduct{
    width: 180px;
    margin-left: 15px;
}
.cantidad{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(242, 216, 204);
    width: 50px;
    height: 50px; 
    border-radius: 10px;
}
.price{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.iconPrice{
    padding: 5px;
    background-color: rgb(224, 211, 205);
    border-radius: 30px;
}
.precio{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(242, 216, 204);
    width: 100px;
    height: 50px; 
    border-radius: 10px;
}
.user{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}
.imgUser{
    display: flex;
    width: 15%;       
    object-fit: cover;
    align-items: center; 
    justify-content: center; 
}
.user{
    width: 70%;        
    height: auto;       
    border-radius: 50%;  
    object-fit: cover;
    align-items: center;  
}
.cartInferior{
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.cartInferiorPrecio{
    padding: 20px;
    margin: 30px;
    background-color: rgb(224, 211, 205);
    border-radius: 15px;
}
/*-------------------------*/
footer{
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: rgb(146, 90, 57);
    padding: 45px;
}
.fi{
    margin: 7px;
}