<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/current/metro.css">
    <link rel="stylesheet" href="/Css/StyleProduct.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="hsup">
          <a href="Home.html" class="alogo"><img src="/Images/logo provisorio.png" alt="Logo de la empresa" class="logo"></a>

            <div class="hicons">
                <a href=""><i class="fa-solid fa-magnifying-glass fa-xl" style="color: #121d20;"></i></a>
                <a href="/views/Cart.html" class="headicons"><i class="fa-solid fa-cart-shopping fa-xl" style="color: #121d20;"></i></a>
                <a href=""><i class="fa-solid fa-bell fa-xl" style="color: #121d20;"></i></a>
                <a href=""><i class="fa-solid fa-envelope fa-xl" style="color: #121d20;"></i></a>
                <a href="" ><i class="fa-solid fa-circle-user fa-2xl" style="color: #121d20;"></i></i></a>
            </div>
        </div>
        <ul class="nav subh">
          <li class="nav-item">
            <button type="button" class="btn" onclick="window.location.href='https://example.com'">Categorias</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn" onclick="window.location.href='/ruta-local'">Populares</button>

          </li>
          <li class="nav-item">
            <button type="button" class="btn" onclick="window.location.href='/ruta-local'">Novedades</button>

          </li>
        </ul>
    </header>
    <main>
      <div class="productSup">
          <div class="center">
              <div class="product">
                  <img src="/Images/Exportar provisorio.png" class="productImg" alt="...">
                  <div class="centerHeadText">
                    <div class="centerheader">
                        <div class="centerTitle">
                            <h3>Nombre de productos</h3>
                        </div>
                        <div class="centerPrice">
                            <h3 class="price"><i class="fa-solid fa-dollar-sign"></i> 5000</h3>
                            <button type="button" class="btn priceButton">Comprar</button>
                        </div>
                    </div>
                    <div class="centerText">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                      Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                      nisi ut aliquip ex ea commodo consequat.
        
                    </div>
                </div>
              </div>
          </div>
        <div class="userProduct">
          <div class="user">
              <a href=""><img src="/Images/Usuario.png" class="imgUser" alt=""></a>
          </div>
          <a href=""><i class="fa-solid fa-heart"></i></a>
          <div><h3>Nombre</h3></div>
          <div class="userDescription">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
          nisi ut aliquip ex ea commodo consequat.
          </div>

        </div>

      </div>
      <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
      
          <div class="carousel-item active">
            <div class="row">
            
              <div class="col-lg-3 col-md-6 mb-4">
                <a href="tu-enlace.html" class="text-decoration-none">
                  <div class="card text-bg-dark">
                    <img src="/Images/Exportar provisorio.png" class="card-img" alt="...">
                    <div class="card-img-overlay hover-content">
                      <div class="cardProduct">
                        <div class="cardTitle">
                          <h5 class="card-title">Producto</h5>
                          <p class="card-text">Etiqueta</p>
                        </div>
                        <div class="Price">
                          <p class="card-text"><large>9000</large></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col-lg-3 col-md-6 mb-4">
                <a href="tu-enlace.html" class="text-decoration-none">
                  <div class="card text-bg-dark">
                    <img src="/Images/Exportar provisorio.png" class="card-img" alt="...">
                    <div class="card-img-overlay hover-content">
                      <div class="cardProduct">
                        <div class="cardTitle">
                          <h5 class="card-title">Producto</h5>
                          <p class="card-text">Etiqueta</p>
                        </div>
                        <div class="Price">
                          <p class="card-text"><large>9000</large></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col-lg-3 col-md-6 mb-4">
                <a href="tu-enlace.html" class="text-decoration-none">
                  <div class="card text-bg-dark">
                    <img src="/Images/Exportar provisorio.png" class="card-img" alt="...">
                    <div class="card-img-overlay hover-content">
                      <div class="cardProduct">
                        <div class="cardTitle">
                          <h5 class="card-title">Producto</h5>
                          <p class="card-text">Etiqueta</p>
                        </div>
                        <div class="Price">
                          <p class="card-text"><large>9000</large></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              
              <div class="col-lg-3 col-md-6 mb-4">
                <a href="tu-enlace.html" class="text-decoration-none">
                  <div class="card text-bg-dark">
                    <img src="/Images/Exportar provisorio.png" class="card-img" alt="...">
                    <div class="card-img-overlay hover-content">
                      <div class="cardProduct">
                        <div class="cardTitle">
                          <h5 class="card-title">Producto</h5>
                          <p class="card-text">Etiqueta</p>
                        </div>
                        <div class="Price">
                          <p class="card-text"><large>9000</large></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              
             
            </div>
          </div>
        
          <div class="carousel-item">
            <div class="row">
            
              <div class="col-lg-3 col-md-6 mb-4">
                <a href="tu-enlace.html" class="text-decoration-none">
                  <div class="card text-bg-dark">
                    <img src="/Images/Exportar provisorio.png" class="card-img" alt="...">
                    <div class="card-img-overlay hover-content">
                      <div class="cardProduct">
                        <div class="cardTitle">
                          <h5 class="card-title">Producto</h5>
                          <p class="card-text">Etiqueta</p>
                        </div>
                        <div class="Price">
                          <p class="card-text"><large>9000</large></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col-lg-3 col-md-6 mb-4">
                <a href="tu-enlace.html" class="text-decoration-none">
                  <div class="card text-bg-dark">
                    <img src="/Images/Exportar provisorio.png" class="card-img" alt="...">
                    <div class="card-img-overlay hover-content">
                      <div class="cardProduct">
                        <div class="cardTitle">
                          <h5 class="card-title">Producto</h5>
                          <p class="card-text">Etiqueta</p>
                        </div>
                        <div class="Price">
                          <p class="card-text"><large>9000</large></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col-lg-3 col-md-6 mb-4">
                <a href="tu-enlace.html" class="text-decoration-none">
                  <div class="card text-bg-dark">
                    <img src="/Images/Exportar provisorio.png" class="card-img" alt="...">
                    <div class="card-img-overlay hover-content">
                      <div class="cardProduct">
                        <div class="cardTitle">
                          <h5 class="card-title">Producto</h5>
                          <p class="card-text">Etiqueta</p>
                        </div>
                        <div class="Price">
                          <p class="card-text"><large>9000</large></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col-lg-3 col-md-6 mb-4">
                <a href="tu-enlace.html" class="text-decoration-none">
                  <div class="card text-bg-dark">
                    <img src="/Images/Exportar provisorio.png" class="card-img" alt="...">
                    <div class="card-img-overlay hover-content">
                      <div class="cardProduct">
                        <div class="cardTitle">
                          <h5 class="card-title">Producto</h5>
                          <p class="card-text">Etiqueta</p>
                        </div>
                        <div class="Price">
                          <p class="card-text"><large>9000</large></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
             
            </div>
          </div>
        </div>
    
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
  </main>
  
    <footer>
      <i class="fa-solid fa-bars fi"></i>
      <i class="fa-brands fa-instagram fi"></i>
      <i class="fa-brands fa-discord fi"></i>
      <i class="fa-brands fa-x-twitter fi"></i>
    </footer>
    <script src="https://cdn.metroui.org.ua/current/metro.js"></script>
    <script src="https://kit.fontawesome.com/814cd6b91c.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
