<a href="tu-enlace.html" class="text-decoration-none">
    <div class="card text-bg-dark">
      <img src="/Images/Exportar provisorio.png" class="card-img" alt="...">
      <div class="card-img-overlay hover-content">
        <div class="cardProduct">
          <div class="cardTitle">
            <h5 class="card-title">Producto</h5>
            <p class="card-text">Etiqueta</p>
          </div>
          <div class="Price">
            <p class="card-text"><large>9000</large></p>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>